{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block content %}
	<h1>Article index</h1>
	<div class="container row mb-1 mt-1">
		<div class="form-group mr-2">
			<form method="get" action="{{ path('app_article_index') }}">
				<div class="row">
					<div class="col-md-4">
						<input type="text" name="search" class="form-control" placeholder="Search by name" value="{{ app.request.query.get('search') }}">
					</div>
					<div class="col-md-4">
						<select name="category" class="form-control">
							<option value="">Select category</option>
							{% for category in categories %}
								<option value="{{ category.id }}" {{ app.request.query.get('category') == category.id ? 'selected' : '' }}>
									{{ category.name }}
								</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary">Filter</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<a href="{{ path('app_article_new') }}" class="btn btn-success">Create new</a>
	<div class="row">
		{% for article in articles %}
			<div class="col-md-3">
				<div
					class="card mb-4">
					{# <img src="{{ article.imgUrl }}" class="card-img-top" alt="{{ article.name }}"> #}
					<img src="https://picsum.photos/00" class="card-img-top" alt="{{ article.name }}">
					<div class="card-body">
						<h5 class="card-title">{{ article.name }}</h5>
						<p class="card-text">{{ article.description }}</p>
						<p class="card-text">
							<small class="text-muted">Price:
								{{ article.price }}</small>
						</p>
						<p class="card-text">
							<small class="text-muted">Stock:
								{{ article.stock }}</small>
						</p>
						<p class="card-text">
							<small class="text-muted">Category:
								{{ article.categoryArticle.name }}</small>
						</p>
						<p class="card-text">
							<small class="text-muted">Created at:
								{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</small>
						</p>
						<a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Show</a>
						<a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-secondary">Edit</a>
					</div>
				</div>
			</div>
		{% else %}
			<div class="col-12">
				<div class="alert alert-warning" role="alert">
					No records found.
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
